@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31% 91.4%;
  --input: 214.3 31% 91.4%;
  --ring: 215 20.2% 65.1%;
}
.dark :root {
  --background: 222.2 47.4% 11.2%;
  --foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 215 20.2% 65.1%;
}

html, body, #root { height: 100%; }

@keyframes grid {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}
.animate-grid {
  animation: grid 15s linear infinite;
}
